/* Détail des page Race - Personnage - histoire */
.detail-page-container {
  padding-top: 20px;      /* ✅ Espace avec le header */
  padding-bottom: 80px;   /* ✅ Espace avec le footer */
}

.bloc-info {
  background-image: url('../assets/background_body.jpg');
  background-size: 100% 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem ;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-right: 20px;
}

.bloc_info_zoom_left {
  max-width: 1000px;
  padding: 1rem;
}

.bloc_info_zoom_right {
  padding: 1rem;
}

.para_justify {
  text-align: justify;
}

.image_info {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
