/*------------------------- POLICE ----------------------------------*/
.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

/* ------------------------- STRUCTURE GÉNÉRALE ------------------------- */
html, body {
  margin: 0; /* supprime marges par défaut */
  padding: 0;
  bottom: 0;
  height: 100%; /* occupe toute la hauteur */
  background-color: #f5f0e6; /* fond clair */
  font-family: 'kalam-bold', sans-serif; /* police globale */
}

#root {
  display: flex; /* structure principale en flex */
  flex-direction: column; /* empile les sections verticalement */
  min-height: 100vh; /* hauteur minimale plein écran */
}

/* Le main prend tout l’espace dispo pour pousser le footer en bas */
main {
  flex: 1;
}


/*-------------------------------- Login --------------------------------------*/
