@import url('https://unpkg.com/leaflet/dist/leaflet.css');

/*------------------------- POLICE ----------------------------------*/
@font-face {
  font-family: 'Anirb';
  src: url('../assets/fonts/aniron.bold.ttf') format('truetype'); /* chemin police */
}

@font-face {
  font-family: 'kalamR';
  src: url('../assets/fonts/Kalam-Regular.ttf') format('truetype'); /* chemin police */
}

/* ------------------------- STRUCTURE GÉNÉRALE ------------------------- */
html, body {
  margin: 0; /* supprime marges par défaut */
  padding: 0;
  bottom: 0;
  height: 100%; /* occupe toute la hauteur */
  background-color: #f5f0e6; /* fond clair */
  font-family: 'kalamR', sans-serif; /* police globale */
  flex-direction: column;
}

#root {
  display: flex; /* structure principale en flex */
  flex-direction: column; /* empile les sections verticalement */
  min-height: 100vh; /* hauteur minimale plein écran */
  flex: 1;
}

/* Le main prend tout l’espace dispo pour pousser le footer en bas */
main {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
